@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.header-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
  /* border: 3px solid red; */
}

.nutrient-header {
  /* color: #fff; */
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-style: italic;
}

h1 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  /* color: #fff; */
}

#user-input {
  border-radius: 10px;
  padding: 5px;
  width: 350px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  /* color: #fff; */
  /* background-color: rgba(36, 37, 42); */
}

#user-input::placeholder {
  text-align: left;
  font-family: Dancing-Script, sans-serif;
  font-style: italic;
  /* color: black; */
}

#form-input {
  border: 3px solid red;
  display: flex;
}
